body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(12, 95, 71);
    height: 60px;
}

.div_encabezado {
    display: flex;
    font-size: 15px;
    padding-left: 20px;
    color: aliceblue;
    gap: 20px;
}

.div_encabezado h1 {
    text-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.div_encabezado img {
    width: 60px;
    height: 57px;
    border-radius: 20px;
    margin-top: 9px;
}

.nav_botones {
    margin-left: 140.5px;
    display: flex;
    gap: 20px;
}

.nav_botones a {

    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    font-family: Arial;


}

.div_busqueda {

    background-color: rgb(255, 255, 255);
    width: 400px;
    margin-right: 50px;
    border-radius: 50px;
}

.div_busqueda button {
    position: relative;
    left: 50px;
}

#search {
    height: 40px;
    margin-left: 20px;
    border: none;



}

.div_RedesSociales img {
    width: 38px;
    height: 38px;
}

.div_RedesSociales {
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding-left: 20px;

}

.section_reservacion {
    background: url('img/ubicaciones-Img/rio.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
}

.div_general_nosotros {
    display: grid;
    padding-top: 0px;
}

.mensaje_nosotros {
    padding-left: 80px;
    padding-bottom: 80px;
}

.mensaje_nosotros h2,
.mensaje_nosotros p {
    font-family: arial;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);

}

.mensaje_nosotros h2 {
    font-size: 60px;
}

.imagenes {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.imagenes img {
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

figcaption {
    padding-top: 10px;
    color: aliceblue;
    font-size: 15px;
    font-family: sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.345);
}

.colaboradores {
    background-color: rgb(255, 255, 255);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial;
    display: flex;
   
    gap: 80px;
    margin-left: 85px;
    border-radius: 10px;
    border: 1px solid green;
}

.colaboradores h2,
.colaboradores p {
    /*text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);*/
}

.colaboradores h2 {
    margin-top: 70px;
    padding-left: 30px;
    font-size: 30px;
    color: rgb(63, 171, 114);


}
.colaboradores p{
    color: rgb(210, 156, 40);
    font-weight: bold;
}
.colaboradores img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.footer {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -19px;
    width: 100%;
    height: 300px;
    background-color: rgb(12, 95, 71);
    color: aliceblue;
    gap: 60xp;
}

.footer img {
    width: 100px;
    height: 100px;

    border-color: yellow;
    border-radius: 4ch;
    border-top-left-radius: 4ch;
}

footer h2,
footer p {
    padding-top: 20px;

}

.div_img {
    padding-top: 50px;
    padding-right: 20px;
}